<h1>Pet:</h1>
<p><%= @display_name %></p>
<h2>Food Level:</h2>
<p><%= @display_food_level %></p>
<h2>Sleep Level:</h2>
<p><%= @display_sleep_level %></p>
<h2>Activity Level:</h2>
<p><%= @display_activity_level %></p>
<h2>birth_time:</h2>
<p><%= @display_birth_time %></p>
<h2>Age:</h2>
<p><%= @display_age %></p>
<h2>time last check:</h2>
<p><%= @display_last_check %></p>
<a href="/">Return to Input Page</a>
<p></p>
<a href="/interact">Interact</a>
